// Switcher styles
.switcher {
  &--default {
    border-radius: $border-radius-md;
    background-color: $background-light;
    margin-bottom: $spacing-lg;
    padding: $spacing-xs;
    width: 244px;
    max-width: 100%;
    
    > button {
      border-radius: $border-radius-md;
      padding: $spacing-xs 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: all $transition-slow;
      
      &.active {
        background-color: $accent-color;
        transition: all $transition-slow;
      }
    }
  }
  
  &--since {
    border-radius: $border-radius-md;
    background-color: $secondary-color;
    margin-bottom: 0;
    padding: $spacing-xs;
    width: 244px;
    max-width: 100%;
    
    > button {
      border-radius: $border-radius-md;
      padding: $spacing-xs 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: all $transition-slow;
      
      &.active {
        background-color: $accent-color;
        transition: all $transition-slow;
      }
    }
  }
}
